@using Microsoft.AspNetCore.Http
@model List<Secret>

<div id="recent">
    <h1>Hello, @Context.Session.GetString("UserFirstName")!</h1>
    <form asp-action="AddSecret" asp-controller="Home" asp-method="post">
        <textarea placeholder="Your secret here..." rows="3" name="new_secret"></textarea>
        <button type="submit" class="btn btn-primary">Post</button>
        <a href="~/mostpopular">Most Popular Secrets</a>
    </form>

    <h1>Recent Secrets...</h1>
    @foreach(var secret in @Model){
        <div class="secret">
            <p>@secret.Content</p>
            <p class="date">(@DateTime.Now.Subtract(secret.CreatedAt).Minutes minutes ago)</p>
            <p class="italic">@secret.SecretLikes.Count likes</p>
            @{
                string Blean = "false";
                foreach(var like in secret.SecretLikes){
                    if(like.UserId == Context.Session.GetInt32("UserId")){
                        Blean = "true";
                    }
                }
                if(secret.UserId == Context.Session.GetInt32("UserId"))
                {
                    <p class="bold">You posted this</p>
                    <form asp-action="DeleteSecret" asp-controller="Home" method="post" class="fakelink">
                        <input type="hidden" name="secretid" value="@secret.SecretId">
                        <button type="submit" class="btn btn-outline-primary">Delete</button>
                    </form>
                }
                else if(Blean == "true")
                {
                    <p class="bold">You liked this</p>
                }
                else
                {
                    <form asp-action="LikeSecret" asp-controller="Home" method="post" class="fakelink">
                        <input type="hidden" name="secretid" value="@secret.SecretId">
                        <button type="submit" class="btn btn-outline-primary">Like</button>
                    </form>
                }
            }
        </div>
    }


</div>